    @font-face {
        font-family: 'Corbel';
        src: url('../fonts/Corbel-Light.woff2'), url('../fonts/Corbel-Light.woff');
        font-style: normal;
        font-weight: 300;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Corbel';
        src: url('../fonts/Corbel.woff2'), url('../fonts/Corbel.woff');
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Corbel';
        src: url('../fonts/Corbel-Bold.woff2'), url('../fonts/Corbel-Bold.woff');
        font-style: normal;
        font-weight: 700;
        font-display: swap;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    ul[class],
    ol[class] {
        list-style: none;
        padding: 0;
    }
    
    body._lock {
        overflow: hidden;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    ul[class],
    ol[class],
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
        margin: 0;
    }
    
    body {
        font-size: 18px;
        line-height: 149.9%;
        font-family: 'Corbel', sans-serif;
        font-weight: 400;
        color: #fff;
        background: #0099A7;
    }
    
    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    
    a {
        transition: all .3s ease;
        color: inherit;
    }
    
    a:hover {
        opacity: .8;
        color: inherit;
    }
    
    .title {
        font-family: 'El Messiri', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 149.9%;
        text-align: center;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0px 0px 30px;
    }
    
    .about-content {
        font-weight: 400;
        font-size: 18px;
        line-height: 149.9%;
        color: #FFFFFF;
    }
    
    .about-content>span {
        display: block;
    }
    
    .about-content span:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .about-mob-next {
        display: none;
    }
    
    .mob-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        z-index: 9999999;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        background: rgba(235, 245, 246, 1);
        overflow: auto;
        display: none;
        padding: 20px 0;
    }
    
    .mob-search {
        margin-top: 23px;
        background: rgba(255, 255, 255, 0.33);
        border-radius: 5px;
        max-width: 98%;
        display: flex;
        align-items: center;
        height: 33px;
        padding: 0px 0px 0px 6px;
        margin-bottom: 20px;
    }
    
    .mob-search input {
        background: transparent;
        width: 96%;
        border: 0;
        padding: 0 20px 0 10px;
    }
    
    .mob-search img {
        padding-right: 6px;
        cursor: pointer;
    }
    
    .menu-close-btn {
        border: none;
        background: transparent;
        cursor: pointer;
    }
    
    .mob-menu.active {
        transform: translateX(0);
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
    }
    
    .mobile-menu ul {
        list-style: none;
        padding: 0;
    }
    
    .mobile-menu ul li {
        margin-bottom: 20px;
    }
    
    .mobile-menu>ul li a {
        font-weight: 700;
        font-size: 16px;
        line-height: 149.9%;
        text-transform: uppercase;
        color: #4C4C4C;
        text-decoration: none;
    }
    
    .mobile-menu>ul li a:hover {
        color: #FF7A3E;
        opacity: 1;
    }
    
    .mobile-menu-drop img {
        margin-left: 10px;
        margin-top: 3px;
    }
    
    .mobile-menu-drop ul {
        padding-left: 15px;
        margin-top: 20px;
    }
    
    .mobile-drop-list {
        display: none;
    }
    
    .mobile-drop-list.active {
        display: block;
    }
    
    .header {
        background: rgba(0, 65, 71, .5);
        padding: 12px 0 19px;
        position: fixed;
        width: 100%;
        top: 0;
        transition: all 0.3s;
        /*z-index: 99999;*/
        z-index: 99;
    }
    
    .header-list {
        margin-bottom: 20px!important;
    }
    
    .header-logo:hover {
        opacity: 1;
    }
    
    .header-list li a {
        font-weight: 700;
        font-size: 16px;
        line-height: 149.9%;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
        transition: all .3s ease;
    }
    
    .header-list li:not(:last-child) {
        margin-right: 30px;
    }
    
    body>header>div>div>div.header-infos.col-2>a:nth-child(3) {
        display: none;
    }
    
    body>header>div>div>div.header-infos.col-2>a:nth-child(3).is-active {
        display: block;
    }
    
    .header-search {
        max-width: 746px;
        width: 100%;
        height: 33px;
        background: rgba(255, 255, 255, 0.33);
        border-radius: 5px;
        display: none;
        align-items: center;
    }
    
    .header-search.is-active {
        display: flex;
    }
    
    .header-search img {
        padding-left: 6px;
        cursor: pointer;
    }
    
    .header-search input {
        width: 94%;
        background: transparent;
        border: none;
        outline: none;
        padding: 8px 0 6px 20px;
        color: #fff;
    }
    
    .header-infos a {
        font-weight: 400;
        font-size: 22px;
        line-height: 149.9%;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
        text-decoration: none;
        display: block;
        text-align: right;
    }
    
    .header-infos a:hover {
        color: #FF7A3E;
        opacity: 1;
    }
    
    .header-mobile-phone,
    .header-mobile-burger {
        display: none;
        cursor: pointer;
    }
    
    .header-mobile-phone:hover {
        opacity: 1;
    }
    
    .header-infos .header-infos-email {
        font-weight: 400;
        font-size: 14px;
        line-height: 149.9%;
        text-decoration-line: underline;
        font-feature-settings: 'pnum' on, 'lnum' on;
        text-transform: lowercase;
        color: #FFFFFF;
        display: none;
    }
    
    .header-infos .header-infos-email.is-active {
        display: block;
    }
    
    .header-list-menus img {
        margin-left: 10px;
        margin-top: 5px;
    }
    
    .header-list li a:hover {
        color: #FF7A3E;
        opacity: 1;
    }
    
    .header-wrapper {
        min-height: 120px;
    }
    
    .header-middle {
        min-height: 80px;
    }
    
    .header-dropdown {
        margin-left: auto!important;
        margin-right: auto!important;
        transform: translateY(-1000px);
        transition: all .1s linear;
        display: flex;
        opacity: 0;
        min-height: 0;
        max-height: 0;
        margin-left: 95px!important;
    }
    
    .header-dropdown.is-active {
        transition: all .3s ease;
        opacity: 1;
        /* min-height: 330px; */
        max-height: 100%;
        transform: translateY(-50px);
    }
    
    .header-dropdown>li {
        margin-right: 40px;
    }
    
    .header-dropdown-color {
        transform: translateX(35px);
    }
    
    .header-dropdown>li h5 {
        font-weight: 700;
        font-size: 16px;
        line-height: 149.9%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 0 25px;
    }
    
    .header-dropdown .header-dropdown-catalog a {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .header-dropdown .header-dropdown-catalog a:not(:last-child) {
        margin-bottom: 15px;
    }
    
    .header-form-wrapper>div a {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 112.4%;
        color: #FFFFFF;
        max-width: 144px;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .header-form-wrapper>div a img {
        margin-right: 9px;
    }
    
    .header-dropdown button {
        transition: all .3 ease;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .header-dropdown>li button:hover {
        -webkit-box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 1);
    }
    
    .header-dropdown .header-dropdown-color button {
        background: transparent;
        border: 0;
        padding: 0;
    }
    
    .header-color-wrapper>div {
        display: flex;
    }
    
    .about,
    .gallery,
    .products {
        margin: 90px 0;
    }
    
    .products .container-xxl {
        position: relative;
    }
    
    .gallery .container-xxl {
        position: relative;
    }
    
    .products-card {
        background: #FFFFFF;
        padding: 0 16px 18px;
        height: 100%!important;
        min-height: 250px;
        height: auto;
        position: relative;
        color: #727272;
        text-decoration: none;
    }
    
    .products-card:hover {
        opacity: 1 !important;
        color: #727272!important;
    }
    
    .products-card-img {
        width: 176px;
        height: 196px;
        margin: auto;
    }
    
    .products-card-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .products-card-cart {
        position: absolute;
        background: #FF7800;
        padding: 6px;
        right: 0;
        border: 0;
        bottom: 120px;
        cursor: pointer;
        transition: all .3s ease;
    }
    
    .products-card-cart:hover.products-card-cart img {
        opacity: 0.8;
        transition: all .3s ease;
    }
    
    .swiper-slide-text-next svg {
        width: 99px;
        margin-top: -20px;
    }
    
    .products-card-name {
        font-weight: 400;
        font-size: 18px;
        line-height: 114.9%;
        text-align: center;
        letter-spacing: 0.03em;
        font-feature-settings: 't@num' on, 'lnum' on;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    
    .products-card-prices {
        text-align: center!important;
        justify-content: center;
    }
    
    .products-card-priceold {
        font-family: 'El Messiri';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 149.9%;
        letter-spacing: 0.07em;
        text-decoration-line: line-through;
        text-transform: uppercase;
        color: #FF7800;
        margin-right: 10px;
    }
    
    .products-card-pricenew {
        font-family: 'El Messiri';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 149.9%;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #727272;
    }
    
    body .swiper-button-prev::after,
    body .swiper-button-next::after {
        color: #fff;
        height: 16px;
        width: 6px;
        font-size: 16px;
    }
    
    .swiper-button-next,
    .swiper-rtl {
        right: -25px;
    }
    
    .swiper-tools {
        position: absolute;
        text-align: center;
        top: 38%;
        left: 45%;
        z-index: 9999;
    }
    
    .tools-control {
        display: flex;
        justify-content: center;
    }
    
    .swiper-main-button-prev,
    .swiper-main-button-next {
        background-image: url('../img/Polygon 22.svg');
        width: 55px;
        height: 55px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .swiper-slide-text-next {
        position: relative;
    }
    
    .white-arrow {
        position: absolute;
        background-image: url('../img/Vector 11.svg');
        width: 31px;
        height: 15.5px;
        z-index: 500;
        top: 30%;
        right: 34%;
        background-position: center;
    }
    
    .swiper-button-prev,
    .swiper-rtl {
        left: -28px;
    }
    
    .swiper-button-next,
    .swiper-button-prev {
        top: 270px;
        /*border: 1px solid #000;*/
    }
    
    .gallery-slider {
        position: relative;
    }
    
    .gallery .swiper-button-next,
    .gallery .swiper-button-prev {
        /*top: 350px!important;*/
        /*top: 236px;*/
        top: 50%!important;
    }
    
    .gallery .swiper-button-next {
        right: -35px;
    }
    
    .gallery .swiper-button-prev {
        left: -35px;
    }
    
    .footer {
        background: rgba(0, 65, 71, 0.5);
        padding: 59px 0 23px;
    }
    
    .footer-logo {
        margin-bottom: 30px;
    }
    
    .footer-info {
        max-width: 355px;
        margin-top: -25px;
    }
    
    .footer-info-item {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 154.69%;
        color: #FFFFFF;
        margin-top: 30px;
        padding-left: 29px;
        position: relative;
        font-feature-settings: 'tnum' on, 'lnum' on;
    }
    
    .footer-info-order {
        margin-top: 20px;
    }
    
    .footer-info-item::before {
        content: '';
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        left: 0;
        top: 3px;
    }
    
    .footer-info-address::before {
        background-image: url('../img/footer-mark.svg');
        width: 14px;
        height: 24px;
    }
    
    .footer-info-phone::before {
        content: '';
        background-image: url('../img/footer-phone.svg');
        width: 21px;
        height: 19px;
    }
    
    .footer-info-occupy::before {
        content: '';
        background-image: url('../img/footer-time.svg');
        width: 18px;
        height: 22px;
    }
    
    .footer-info-occupy span {
        text-decoration: underline;
    }
    
    .footer-item-1,
    .footer-item-2 {
        max-width: 185px;
    }
    
    .footer-item-title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 154.69%;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    
    .footer-list li:not(:last-child) {
        margin-bottom: 15px;
    }
    
    .footer-list a {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
    }
    
    .footer-social-company {
        font-weight: 400;
        font-size: 16px;
        line-height: 154.69%;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #FFFFFF;
        margin-bottom: 15px;
    }
    
    .footer-social {
        max-width: 266px;
    }
    
    .footer-social-list li:not(:last-child) {
        margin-right: 10px;
    }
    
    .footer-bottom {
        font-weight: 400;
        font-size: 14px;
        line-height: 154.69%;
        text-decoration-line: underline;
        color: #FFFFFF;
        margin-top: 74px;
    }
    
    .footer-bottom-map {
        position: relative;
        padding-left: 22px;
        margin-left: 22px;
    }
    
    .footer-bottom-map::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 5px;
        width: 17px;
        height: 14px;
        background: url('../img/footer-map-icon.svg');
        background-repeat: no-repeat;
    }
    
    @media(max-width: 1400px) {
        .products .container-xxl {
            width: 86%;
        }
    }
    
    @media(max-width: 1400px) {
        .gallery .container-xxl {
            width: 86%;
        }
        .swiper-tools {
            top: 42%;
            left: 36%;
        }
    }
    
    @media(max-width: 1293px) {
        .header-list li:not(:last-child) {
            margin-right: 20px;
        }
        .header-search {
            max-width: 680px;
        }
        .header-dropdown .header-dropdown-catalog a {
            font-size: 14px;
            line-height: 1.4;
        }
    }
    
    @media(max-width: 1207px) {
        .header-infos a {
            font-size: 18px;
        }
        .header-list li a {
            font-size: 14px;
        }
    }
    
    @media(max-width: 1087px) {
        .header-search {
            max-width: 590px;
        }
        .header-list li:not(:last-child) {
            margin-right: 10px;
        }
        .header-list-menus img {
            margin-left: 3px;
        }
        .header-dropdown.is-active {
            max-height: 350px;
        }
    }
    
    @media(max-width: 1075px) {
        .footer {
            padding-left: 18px;
            padding-right: 18px;
        }
        .footer-logo,
        .footer-logo img {
            width: 106px;
            height: 46.38px;
            margin-bottom: 20px;
        }
        .footer-top {
            flex-direction: column;
            align-items: center!important;
        }
        .footer-info {
            order: 3;
            max-width: 100%;
        }
        .footer-item-1 {
            order: 1;
        }
        .footer-item {
            max-width: 100%;
        }
        .footer-item-2 {
            order: 1;
        }
        .footer-social {
            order: 4;
            margin-top: 30px;
            text-align: center;
            max-width: 100%;
        }
        .footer-social-company {
            opacity: 0.5;
        }
        .footer-social-list {
            justify-content: center;
        }
        .footer-items {
            justify-content: flex-start!important;
            margin-bottom: 40px;
        }
        .footer-bottom-map {
            display: none;
        }
        .footer-bottom-policy {
            text-align: center;
            width: 100%!important;
        }
    }
    
    @media(max-width: 989px) {
        .header-infos,
        .header-middle,
        .header-dropdown {
            display: none;
        }
        .header-wrapper {
            min-height: 0;
        }
        .header-mobile-phone {
            display: flex;
        }
        .header-mobile-burger {
            display: flex;
            width: 40px;
            height: 14px;
            border: 0;
            background: transparent;
        }
        .header {
            padding: 12px 20px
        }
        .mob-menu {
            display: block;
        }
        .tools-control {
            align-items: initial;
        }
        .swiper-tools {
            margin-top: 21px;
            top: 24%;
            left: 39%;
        }
        .swiper-slide-text-next svg {
            width: 56px;
        }
        .swiper-main-button-prev,
        .swiper-main-button-next {
            background-size: 40px;
        }
        .white-arrow {
            top: 26%;
            right: 32%;
            width: 22px;
            height: 16.5px;
        }
        .news,
        .content,
        .company {
            padding: 150px 0 50px;
        }
    }
    
    @media(max-width: 769px) {
        .about-wrapper {
            flex-direction: column;
            align-items: center!important;
        }
        .about-content {
            display: none;
        }
        .about-next {
            display: none!important;
        }
        .about-next.active {
            display: inline-block!important;
        }
        .about-content:first-child {
            display: block!important;
        }
        .about-mob-next {
            display: flex;
            justify-content: center;
            margin-top: 16px;
            font-weight: 400;
            font-size: 18px;
            line-height: 114.9%;
            letter-spacing: 0.03em;
            text-decoration-line: underline;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #FFFFFF;
            cursor: pointer;
        }
        .about-mob-next img {
            margin-left: 14px;
        }
        .products-card {
            padding: 0 10px 13px;
        }
        .products-card-name {
            font-size: 16px;
            line-height: 1.4;
        }
        .products-card-pricenew {
            font-size: 16px;
            line-height: 1.4;
        }
        .products-card-priceold {
            font-size: 13px;
            line-height: 1.4;
        }
        .products-card-img {
            width: 131.8px;
            height: 146.36px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            top: 240px;
        }
    }
    
    @media(max-width: 656px) {
        .products-card {
            height: 230px!important;
        }
        .products-card-pricenew {
            font-size: 14px;
            line-height: 149.9%;
        }
        .products-card-priceold {
            font-size: 11px;
            line-height: 149.9%;
        }
        .products-card-name {
            font-size: 14px;
            line-height: 114.9%;
        }
        .products-card-cart {
            right: 5px;
            bottom: 90px;
        }
    }
    
    @media(max-width: 576px) {
        .footer {
            padding-left: 15px;
            padding-right: 15px;
        }
        .footer-item {
            max-width: 192px;
        }
        .footer-item-1 {
            margin-right: 40px;
        }
        .footer-info,
        .footer-social {
            width: 100%!important;
        }
        .footer-social-company {
            width: 235px;
            margin: 0 auto 15px;
        }
        body>footer>div>div.footer-top.row.justify-content-between.align-items-start>div.footer-items.col.d-flex.justify-content-around>div.footer-item.footer-item-2.col>ul li a {
            line-height: 31px;
        }
        .footer-bottom-policy {
            font-size: 12px;
            line-height: 154.69%;
            opacity: 0.5;
        }
        .footer-bottom {
            margin-top: 22px;
        }
        .header-logo,
        .header-mobile-phone {
            width: auto!important;
        }
        .header-logo,
        .header-logo img {
            width: 100px;
            height: 44px;
        }
        .header {
            padding: 17px 20px 10px;
        }
        .swiper-tools {
            left: 31%;
        }
        .carousel__button.is-prev,
        .carousel__button.is-next {
            top: 53%;
        }
    }
    
    .news,
    .content,
    .company {
        padding: 200px 0 50px;
        background: url('../img/news/news-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .breadcrumbs {
        margin-bottom: 8px;
    }
    
    .breadcrumbs-list {
        flex-wrap: wrap;
    }
    
    .breadcrumbs-list li {
        margin-right: 16px;
    }
    
    .breadcrumbs-list li a:after {
        content: '';
        display: inline-block;
        background: url('../img/news/breadcrumbs-polygon.svg');
        background-repeat: no-repeat;
        width: 7px;
        height: 7px;
        margin-left: 18px;
    }
    
    .breadcrumbs-list li a {
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .breadcrumbs-list li a:hover {
        opacity: 1;
    }
    
    .breadcrumbs-list li span {
        opacity: 0.5;
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        color: #FFFFFF;
    }
    
    .news-list {
        background: rgba(255, 255, 255, .46);
    }
    
    .news-list a {
        text-decoration: none;
    }
    
    .news-list li {
        padding: 0 10px 30px 28px;
    }
    
    .news-list li:last-child {
        padding-bottom: 45px;
    }
    
    .news-list li:first-child {
        padding-top: 30px;
    }
    
    .news-list a:hover {
        opacity: 1;
    }
    
    .news-list li a img {
        margin-right: 45px;
        object-fit: cover;
    }
    
    .news-item-content {
        max-width: 716px;
    }
    
    .news-title {
        font-family: 'El Messiri';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 149.9%;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #4C4C4C;
        margin-bottom: 3px;
    }
    
    .news-date {
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #4C4C4C;
        margin-bottom: 15px;
    }
    
    .news-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        color: #4C4C4C;
    }
    
    .news-btnmore {
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        text-decoration-line: underline;
        color: #FF7800;
    }
    
    .news-btnmore:hover {
        color: #FF7800;
    }
    
    @media(max-width:688px) {
        .news-title {
            font-size: 24px;
        }
        .news-list li a img {
            margin-right: 20px;
            width: 278px;
            height: 223px;
        }
    }
    
    @media(max-width: 608px) {
        .news-list li a img {
            width: 232px;
            height: 200px;
        }
        .news,
        .content,
        .company {
            padding: 100px 0 50px;
        }
        .title {
            font-size: 30px!important;
        }
    }
    
    @media(max-width: 506px) {
        .news-list li {
            flex-direction: column;
            align-items: stretch!important;
            padding: 0 10px 30px 10px;
        }
        .news-list li a img {
            width: 100%;
            height: 100%;
            margin-right: auto;
            object-fit: cover;
        }
    }
    
    @media(max-width: 366px) {
        .breadcrumbs-list li a:after {
            margin-left: 6px;
        }
        .breadcrumbs-list li {
            margin-right: 8px;
        }
    }
    
    @media(max-width: 320px) {
        .breadcrumbs-list li span,
        .breadcrumbs-list li a {
            font-size: 13px;
        }
    }
    
    @media(max-width: 409px) {
        .products-card-img {
            width: 110px;
            height: 125px;
        }
        .products-card-cart {
            bottom: 90px;
        }
        .products-card-name {
            font-size: 13px;
            line-height: 114%;
            margin: 10px 0;
        }
    }
    
    @media(max-width: 387px) {
        .swiper-button-next,
        .swiper-rtl {
            right: -15px;
        }
        .swiper-button-prev,
        .swiper-rtl {
            left: -19px;
        }
    }
    /* @media(max-width:375px) {
        .products-card {
            width: 150px!important;
            margin-right: 20px!important;
        }
    } */
    
    @media(max-width: 340px) {
        .footer-items {
            flex-direction: column;
            padding-left: 20px;
        }
        .footer-item-1 {
            margin-bottom: 25px;
        }
        .header {
            padding: 17px 2px 10px;
        }
    }
    
    @media(max-width: 320px) {
        .products-card-prices {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    /* ------------------ */
    
    .gallery {
        position: relative;
    }
    
    .background-group-1,
    .background-group-2 {
        position: absolute;
        width: 800px;
        height: 800px;
    }
    
    .background-group-1 {
        top: 15%;
        left: -8%;
    }
    
    .background-group-2 {
        right: 32%;
        top: 10%;
    }
    
    .background-polygon-1,
    .background-polygon-2,
    .background-polygon-3,
    .background-polygon-4,
    .background-polygon-5,
    .background-polygon-6 {
        background-image: url('../img/Polygon 33.svg');
        width: 411px;
        height: 411px;
        position: absolute;
        background-repeat: no-repeat;
    }
    
    .background-polygon-1 {
        left: 34%;
        top: -28%;
    }
    
    .background-polygon-2 {
        left: -14%;
        top: -28%;
    }
    
    .background-polygon-3 {
        left: 10%;
        top: 14%;
    }
    
    .background-polygon-4 {
        left: 95%;
        top: 0;
    }
    
    .background-polygon-5 {
        left: 71%;
        top: 42%;
    }
    
    .background-polygon-6 {
        left: 47%;
        top: 0;
    }
    
    .gallery img {
        width: 100%;
    }
    
    .gallery a {
        display: block;
        overflow: hidden;
        /*min-height: 100%;*/
    }
    
    .gallery a img {
        min-height: 100%;
    }
    
    .main .swiper {
        width: 100%;
        height: 100%;
    }
    
    .main .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main .swiper-image {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 1590px;
    }
    
    .main .swiper-pagination {
        display: grid;
        grid-template-columns: repeat(7, 180px);
        grid-auto-rows: 320px;
        justify-content: center;
        align-items: center;
        bottom: 50px;
        gap: 5px;
    }
    
    .main .swiper-pagination:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -70px;
        pointer-events: none;
        background: linear-gradient(180deg, #0099A7 50%, rgba(0, 153, 167, 0) 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    
    .pagination-wrapper {
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    .main .swiper-pagination-bullet {
        grid-column-end: span 2;
        width: 350px;
        height: 410px;
        margin: 0 !important;
        border-radius: 0;
        background-color: transparent;
        opacity: 1;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        position: relative;
    }
    
    .main .swiper-pagination-bullet:hover {
        background: linear-gradient(1deg, transparent 0, #FF7800 0);
    }
    
    .main .swiper-pagination-bullet:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: linear-gradient(180deg, #262626 0%, rgba(0, 0, 0, 0.15) 55.07%);
        z-index: 1;
    }
    
    .main .swiper-pagination-bullet span {
        display: block;
        font-weight: 700;
        font-size: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        bottom: 70px;
        width: 100%;
        z-index: 2;
    }
    
    .main .swiper-pagination-bullet:nth-child(4) {
        grid-column: 2 / span 2;
    }
    
    .main .swiper-pagination-image {
        width: 98%;
        height: 99%;
    }
    
    .main .swiper-slide-text {
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    .main .swiper-slide-text-title {
        font-family: 'El Messiri';
        font-style: normal;
        font-weight: 700;
        font-size: 79px;
        line-height: 149.9%;
        padding-top: 95px;
        margin-bottom: 20px;
        text-align: center;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 4px 52px #000000;
    }
    
    .main .swiper-slide-text-description {
        font-weight: 300;
        font-size: 30px;
        line-height: 149.9%;
        margin-bottom: 32px;
        position: relative;
        z-index: 10;
        color: #FFFFFF;
    }
    /* ============== */
    
    @media (min-width: 1921px) {
        .background-group-1 {
            left: 15%;
        }
    }
    
    @media(max-width: 1400px) {
        .background-group-1,
        .background-group-2 {
            display: none;
        }
        .main .swiper-image {
            /*display: block;*/
            /*width: 100%;*/
            /*object-fit: cover;*/
            height: 1190px;
        }
        .main .swiper-pagination {
            /*display: grid;*/
            grid-template-columns: repeat(7, 100px);
            grid-auto-rows: 195px;
            /*justify-content: center;*/
            /*align-items: center;*/
            /*gap: 0 5px;*/
            /*bottom: 85px !important;*/
        }
        .main .swiper-pagination:before {
            /*content: '';*/
            /*position: absolute;*/
            /*left: 0;*/
            /*right: 0;*/
            bottom: -55px;
            /*pointer-events: none;*/
            background-size: contain;
        }
        .main .swiper-pagination-bullet {
            /*grid-column-end: span 2;*/
            width: 200px;
            height: 250px;
            /*margin: 0 !important;*/
            /*border-radius: 0;*/
            /*background-color: transparent;*/
            /*opacity: 1;*/
            /*clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);*/
            /*position: relative;*/
        }
        .main .swiper-pagination-bullet:after {
            /*content: '';*/
            /*position: absolute;*/
            /*left: 0;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*top: 0;*/
            /*background: linear-gradient(180deg, #262626 0%, rgba(0, 0, 0, 0.15) 55.07%);*/
            /*z-index: 1;*/
        }
        .main .swiper-pagination-bullet span {
            /*display: block;*/
            /*font-weight: 700;*/
            font-size: 16px;
            /*text-align: center;*/
            /*letter-spacing: 0.03em;*/
            /*text-transform: uppercase;*/
            /*color: #FFFFFF;*/
            /*position: absolute;*/
            bottom: 50px;
            /*width: 100%;*/
            /*z-index: 2;*/
        }
        .main .swiper-pagination-bullet:nth-child(4) {
            /*grid-column: 2 / span 2;*/
        }
        .main .swiper-pagination-image {
            /*display: block;*/
            /*width: 100%;*/
            /*height: 100%;*/
            /*object-fit: cover;*/
        }
        .main .swiper-slide-text {
            /*position: absolute;*/
            /*top: 250px;*/
            /*left: 0;*/
            /*right: 0;*/
            /*z-index: 1;*/
        }
        .main .swiper-slide-text-title {
            /*font-family: 'El Messiri';*/
            /*font-style: normal;*/
            /*font-weight: 700;*/
            font-size: 49px;
            /*line-height: 149.9%;*/
            /*padding-top: 0;*/
            /*margin-bottom: 20px;*/
            /*text-align: center;*/
            /*letter-spacing: 0.07em;*/
            /*text-transform: uppercase;*/
            /*color: #FFFFFF;*/
            /*text-shadow: 0px 4px 52px #000000;*/
        }
        .main .swiper-slide-text-description {
            /*font-weight: 300;*/
            /*font-size: 30px;*/
            /*line-height: 149.9%;*/
            /*margin-bottom: 15px;*/
            /*position: relative;*/
            /*z-index: 10;*/
            /*color: #FFFFFF;*/
        }
    }
    
    @media(max-width: 1400px) {
        .gallery .container-xxl {
            width: 86%;
        }
    }
    
    @media(max-width: 1293px) {}
    
    @media(max-width: 1207px) {}
    
    @media(max-width: 1087px) {}
    
    @media(max-width: 992px) {
        .main .swiper-slide {
            /*text-align: center;*/
            /*font-size: 18px;*/
            /*display: flex;*/
            /*justify-content: center;*/
            /*align-items: center;*/
        }
        .main .swiper-image {
            /*display: block;*/
            /*width: 100%;*/
            /*object-fit: cover;*/
            height: 1000px;
        }
        .main .swiper-pagination {
            /*display: grid;*/
            /*grid-template-columns: repeat(7, 180px);*/
            /*grid-template-columns: 1fr 1fr;*/
            /*grid-auto-rows: 320px;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            gap: 0 5px;
            bottom: 40px !important;
            display: flex;
            flex-wrap: wrap;
        }
        .main .swiper-pagination:before {
            /*content: '';*/
            /*position: absolute;*/
            /*left: 0;*/
            /*right: 0;*/
            bottom: -43px;
            background-size: contain;
            /*pointer-events: none;*/
        }
        .main .swiper-pagination-bullet {
            /*grid-column-end: span 2;*/
            width: 160px;
            height: 180px;
            /*margin: 0 !important;*/
            /*border-radius: 0;*/
            /*background-color: transparent;*/
            /*opacity: 1;*/
            /*clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);*/
            /*position: relative;*/
            min-width: 150px;
        }
        .main .swiper-pagination-bullet:nth-of-type(3n) {
            /*grid-column: 4 / span 4;*/
            /*margin-top: 60px;*/
            margin: -40px 500px!important;
            /*position: relative;*/
            /*top: 60px;*/
            /*border: 10px solid #000;*/
        }
        .main .swiper-pagination-bullet:after {
            /*content: '';*/
            /*position: absolute;*/
            /*left: 0;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*top: 0;*/
            /*background: linear-gradient(180deg, #262626 0%, rgba(0, 0, 0, 0.15) 55.07%);*/
            /*z-index: 1;*/
        }
        .main .swiper-pagination-bullet span {
            /*display: block;*/
            /*font-weight: 700;*/
            font-size: 12px;
            line-height: 1.5;
            /*text-align: center;*/
            /*letter-spacing: 0.03em;*/
            /*text-transform: uppercase;*/
            /*color: #FFFFFF;*/
            /*position: absolute;*/
            bottom: 30px;
            /*width: 100%;*/
            /*z-index: 2;*/
        }
        /*.main .swiper-pagination-bullet:nth-child(4) {*/
        /*    grid-column: auto;*/
        /*}*/
        /**/
        /*.main .swiper-pagination-bullet:nth-child(2) {*/
        /*    grid-column: 2 / span 2;*/
        /*}*/
        .main .swiper-pagination-image {
            /*display: block;*/
            /*width: 100%;*/
            /*height: 100%;*/
            /*object-fit: cover;*/
        }
        .main .swiper-slide-text {
            /*position: absolute;*/
            top: 160px;
            /*left: 0;*/
            /*right: 0;*/
            /*z-index: 1;*/
        }
        .main .swiper-slide-text-title {
            /*font-family: 'El Messiri';*/
            /*font-style: normal;*/
            /*font-weight: 700;*/
            font-size: 28px;
            /*line-height: 149.9%;*/
            padding-top: 0;
            margin-bottom: 4px;
            /*text-align: center;*/
            /*letter-spacing: 0.07em;*/
            /*text-transform: uppercase;*/
            /*color: #FFFFFF;*/
            /*text-shadow: 0px 4px 52px #000000;*/
        }
        .main .swiper-slide-text-description {
            /*font-weight: 300;*/
            font-size: 16px;
            /*line-height: 149.9%;*/
            /*margin-bottom: 15px;*/
            /*position: relative;*/
            /*z-index: 10;*/
            /*color: #FFFFFF;*/
        }
    }
    
    .content-item {
        background: rgba(255, 255, 255, .46);
        padding: 30px 30px 19px 28px;
    }
    
    .content-top-item {
        max-width: 716px;
        margin-bottom: 43px;
        margin-right: 24px;
    }
    
    .content-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        color: #4C4C4C;
    }
    
    .content-top-img {
        width: 100%;
        max-width: 496px;
    }
    
    .content-top-img img {
        object-fit: cover;
    }
    
    .content-text span {
        display: block;
        margin-bottom: 20px;
    }
    
    .content-explanation,
    .content-table-wrapper {
        margin-bottom: 30px;
    }
    
    .content-subtitle {
        font-family: 'El Messiri';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 149.9%;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #4C4C4C;
    }
    
    .content-card {
        max-width: 196px;
        text-align: center;
        margin-right: 44px;
    }
    
    .content-card-name {
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        color: #4C4C4C;
        margin-top: 10px;
    }
    
    .content-card-download {
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        text-decoration-line: underline;
        color: #4C4C4C;
        padding: 10px;
    }
    
    .content-card-download:hover {
        opacity: 0.8;
        color: #4C4C4C;
    }
    
    .content-table-wrapper {
        overflow-x: auto;
    }
    
    .content-table {
        text-align: center;
    }
    
    .content-table td {
        width: 309px;
    }
    
    .content-table tbody td {
        padding: 17px 0 18px;
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        color: #4C4C4C;
    }
    
    .content-table thead td {
        font-weight: 600;
        font-size: 16px;
        line-height: 149.9%;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #4C4C4C;
        padding: 17px 0 15px;
    }
    
    .content-table td {
        border: 1px solid #4C4C4C;
    }
    
    @media(max-width: 1150px) {
        .content-top-img img {
            height: 275px;
            width: 100%;
        }
        .content-top-item {
            max-width: 550px;
        }
    }
    
    @media(max-width: 989px) {
        .content-top {
            flex-direction: column;
            margin-bottom: 25px;
        }
        .content-top-img img {
            width: 100%;
            height: 295px;
        }
        .content-top-item {
            max-width: 100%;
            margin-right: 0;
        }
    }
    
    @media(max-width: 645px) {
        .content-table tbody td,
        .content-table thead td {
            padding-left: 24px;
            padding-right: 24px;
        }
        .content-table {
            width: 712px;
        }
        .content-table {
            text-align: left;
        }
        .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
            background: #fff;
            opacity: 1;
            height: 5px;
            width: 100%;
        }
        .simplebar-track.simplebar-horizontal {
            background: #0099A7;
            border-radius: 14px;
            width: 100%;
            height: 5px;
        }
        .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
            top: 0;
            left: -2px;
        }
    }
    
    @media(max-width: 550px) {
        .content-cards {
            display: none!important;
        }
        .content-top-img img {
            height: 230px;
        }
        .content-mobile-hidden {
            display: none!important;
        }
    }
    
    @media(max-width: 400px) {
        .content-top-img img,
        .content-top-img {
            height: 183px;
            width: 350px;
        }
        .content-top-item {
            margin-bottom: 15px;
        }
        .content-explanation {
            margin-bottom: 25px;
        }
        .content {
            overflow-x: hidden;
        }
        .content-item {
            padding: 15px 17px;
        }
    }
    
    @media(max-width: 320px) {
        .content-top-img img,
        .content-top-img {
            height: 165px;
            width: 320px;
        }
    }
    
    .company-item {
        padding: 30px;
        background: rgba(255, 255, 255, .46);
    }
    
    .company-text {
        margin-bottom: 30px;
    }
    
    .company-subtitle {
        font-family: 'El Messiri';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 149.9%;
        color: #4C4C4C;
        margin: 0 0 8px;
    }
    
    .company-address {
        font-weight: 400;
        font-size: 16px;
        line-height: 149.9%;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #4C4C4C;
        margin-bottom: 24px;
    }
    
    @media(max-width: 500px) {
        .company-map div iframe {
            height: 200px!important;
        }
    }